<div class="flex flex-col gap-10">

  <h2 class="text-3xl font-bold"> Por Region </h2>

  <hr>

  <div class="flex flex-row gap-5 justify-center">
    <button *ngFor="let region of regions" class="font-bold rounded p-1
      hover:scale-105 active:scale-95 cursor-pointer"
     (click)="searchByRegion( region )"
     [ngClass]= " { 'bg-blue-300 ': selectedRegion === region} ">  {{region}}  </button>
  </div>

  <shared-loading-spinner *ngIf="loading; else tabla" ></shared-loading-spinner>

  <ng-template #tabla>
    <div>
      <country-table [countries]="countries" ></country-table>
    </div>
  </ng-template>
</div>
